<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Womantalk</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{css/AdminLTE.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{css/_all-skins.min.css}" rel="stylesheet" media="screen"/>

    </head>
    <body class="hold-transition skin-green sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <div class="pull-left image">
                    <img th:src="@{image/womantalk.png}" class="img-box" alt="Logo Image"/>
                </div>
                <nav class="navbar navbar-static-top">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li id="show_date"></li>
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img th:src="@{image/avatar5.png}" class="user-image" alt="User Image"/>
                                    <span class="hidden-xs">Alexander Pierce</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img th:src="@{image/avatar5.png}" class="img-circle" alt="User Image"/>
                                        <p>
                                            Alexander Pierce - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <aside class="main-sidebar">
                <section class="sidebar">
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img th:src="@{image/avatar5.png}" class="img-circle" alt="User Image"/>
                        </div>
                        <div class="pull-left info">
                            <p>Alexander Pierce</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <form action="#" method="get" class="sidebar-form">
                        
                    </form>
                    <ul class="sidebar-menu">
                        <li class="active treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Quizzes</span>
                                
                            </a>
                            <ul class="treeview-menu">
                                <li class="active"><a href="addQuiz.html"><i class="fa fa-circle-o"></i> Add Quiz</a></li>
                                <li><a href="data.html"><i class="fa fa-circle-o"></i> Quizzes Draft</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </aside>
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>Sistem Informasi Fun Quiz</h1>
					 
                    <ol class="breadcrumb">
                        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
                        <!--<li><a href="#">Quizzes</a></li>-->
                        <li class="active">Add Quiz</li>
                    </ol>
                </section>
                <section class="content">
                    <div class="row" >
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                 <div class="topnav" id="myTopnav">
                                <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                                  <li><a data-toggle="tab" href="#menu1">Scoring</a></li>
                                  <li><a data-toggle="tab" href="#menu2">Result</a></li>
                                </ul>
                                

                                <div id="home" class="tab-pane fade in active">
                                    <center> <h3 class="box-title">Form Add Quiz</h3></center>
                                    <form action="data.html">
                                    <div class="box-body form-group-lg">
                                            <div class="row-section form-group">
                                                    <label>Enter a Quiz Title (optional)</label>
                                                    <input type="text" class="form-control" placeholder="Enter the title" id="title"/>
                                                <br/>
                                                    <label>Select a Quiz Type</label>
                                                    <select class="form-control" id="options">
                                                        <option>Trivia</option>
                                                        <option>Personality</option>
                                                    </select>
                                                
                                            </div>
                                            <div class="row-section form-group" id="add_question">
                                                
                                                    <label>Add Question</label>
                                                    <input type="text" class="form-control" id="type-question" placeholder="Type Your Question Here"/>
                                        <div>
                                            <input type='file' onchange="readURL(this);" />
                                        </div>
                                        <div>
                                            <a href="#" class="preview" onclick="getPreview();">Preview</a><br/>   
                                        </div>
                                        <label>Select your type option</label>
                                                
                                                <br/>
                                                   
                                                    <select class="form-control">
                                                        <option>True False</option>
                                                        <option>Multiple Choice</option>
                                                    </select>
                                                
                                                  <br/>
                                                 
<br/>
                                        <select class="form-control" id="dropdownlist">
                                            <option>Select Option of Question</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                                    <div id="inputArea"></div>
                                                    
                                        </div>  
                                    </div>
                                    <div>
                                        <center><button class="btn btn-primary" type="button" onclick="add_question();"><span class="glyphicon glyphicon"></span>Add Question</button></center>
                                    </div>
                                    <div class="box-footer">
                                        <center><button value="submit" class="btn btn-success btn-small">Create Quiz</button></center>
                                    </div>
                                </form>
                                </div>

                                <div id="menu1" class="tab-pane fade">
                                        <p>....</p>
                                        <table>Quiz</table>
                                  </div>

                                  <div id="menu2" class="tab-pane fade">
                                    <h3>Menu 2 skmfdksdgml</h3>
                                  </div>
                                </div>
                   
        <script th:src="@{plugins/jQuery/jquery-2.2.3.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
        <script th:src="@{plugins/fastclick/fastclick.js}"></script>
        <script th:src="@{js/app.min.js}"></script>
        <script th:src="@{js/demo.js}"></script>
        <script th:src="@{js/date.js}"></script>
        <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
