<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fun Quiz</title>
</head>
<body>
<h2>Quiz Type</h2>
<table cellpadding="2" cellspacing="2" border="1">
    <div class="col-sm-8">
        <form class="form-horizontal" th:object="${quiztype}" th:action="@{/quiztype/create}" method="post">
            <input type="hidden" th:field="*{idQuizType}"/>

            <div class="form-group">
                <label class="col-sm-3 control-label">Type Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" th:field="*{typeName}" />
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Save</button>
            </div>

        </form>
    </div>
</table>
</body>
</html>