<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Home Quiz Type</title>
</head>
<body>
    <h1>Home Quiz Type</h1>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id QuizType</th>
            <th>Tipe QuizType</th>
            <th>Action</th>
        </tr>
        <tr th:each="quiztype : ${quiztype}">
            <td th:text="${quiztype.idQuizType}"></td>
            <td th:text="${quiztype.typeName}"></td>
            <td>
                <a th:href="${'/quiztype/update/'+quiztype.idQuizType}">Update</a>
                <a th:href="${'/quiztype/delete/'+quiztype.idQuizType}">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="${'/quiztype/add'}">Add QuizType</a>

</body>
</html>