<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fun Quiz</title>
</head>
<body>
    <h2>Daftar Kuis</h2>
    <div class="panel-body" th:if="${not #lists.isEmpty(quiz)}">
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Judul Kuis</th>
            <th>Tipe Kuis</th>
            <th>Action</th>
        </tr>
        <tr th:each="quizs : ${quiz}">
            <td th:text="${quizs.idQuiz}"></td>
            <td th:text="${quizs.judulQuiz}"></td>
            <td th:text="${quizs.quizType.typeName}"></td>
            <td>
                <a th:href="${'quiz/edit/'+quizs.idQuiz}">Update</a>
                <a th:href="${'quiz/delete/'+quizs.idQuiz}">Delete</a>
            </td>
        </tr>
    </table>
    <a th:href="${'/quiz/add'}">Add</a>
    </div>
</body>
</html>